<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>
    <th:block th:each="user : ${users}">
        <a th:href="@{/admin/users/{id}(id=${user.id})}" th:text="${user}"></a>
        <span th:each="role : ${user.getAuthorities()}" th:text="${role.getAuthority() + ' '}"></span>
        <br>
    </th:block>
    <hr>
    <a href="users/new">Create new user</a>
    <br>
</div>
<div th:replace="fragments/template :: logout"></div>
</body>
</html>