<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div>
    <p th:text="${user}">USER</p>
    <p th:each="role : ${user.getAuthorities()}" th:text="${role.getAuthority().toString() + ' '}"></p>
    <hr>
    <a th:href="@{/admin/users/{id}/edit(id=${user.id})}">Edit</a>
    <form th:method="DELETE" th:action="@{/admin/users/{id}(id=${user.id})}">
        <input type="submit" value="Delete">
    </form>

</div>
<div th:replace="fragments/template :: logout"></div>
</body>
</html>